@font-face {
    font-family: Gilroy;
    src: url("/assets/font/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("/assets/font/Gilroy-ExtraBold.otf") format("opentype");
}


body {
    font-family: Gilroy, sans-serif;
    background: rgb(248, 249, 250);
}

header {
    box-sizing: border-box;
    touch-action: none;
}

header.animated {
    transition: height 0.5s ease;
}

a, a:hover, a:visited, a:active {
    color: rgb(94, 88, 210);
}

.top-drawer {
    border-radius: 0 0 1rem 1rem;
    font-size: .8rem;
}

.top-drawer label {
    font-weight: bold;
    margin-right: .25rem;
    margin-bottom: 0;
}

.top-drawer .input-group {
    margin-bottom: .5rem;
}

.editable-toggle {
    border-bottom: 1px dashed rgb(94, 88, 210);
}

.profession-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    display: inline-block;
}

.profile-photo {
    width: 3rem;
}

.profile-photo.empty {
    opacity: .3;
}

.profile-photo-border {
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border: 1px solid black;
}

.work-experience-input {
    max-height: calc(2.25rem + 10px);
}

.skills-input.loading, .course-list.loading {
    background: url('/assets/images/preloader294.gif') 50% 50% no-repeat;
}

.skills-input.loading {
    min-height: 10vw;
}

.course-list.loading {
    min-height: 100vw;
}

.skills-input-wrapper, .work-experience-input {
    width: 100%;
    flex: 1 1 0%;
    min-height: 0;
    height: 0px;
    overflow: hidden;
}

.skills-input .skill {
    padding: 0.25em 0.5em;
    border: 1px solid #ced4da;
    display: inline-block;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    margin-right: 0.25rem;
}

.skills-input .skill .delete-skill {
    position: absolute;
    background: rgba(0,0,0,0.7);
    padding: 0.25em 0.5em;
    left: 0;
    top: 0;
    color: white;
    width: 100%;
    text-align: center;
    display: none;
}

.skills-input .skill:hover .delete-skill {
    display: block;
}

.salary-input-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    max-height: 68px;
}

header .input-group {
    min-height: 20px;
}

header a, header a:active, header a:hover, header a:visited {
    text-decoration: none;
}

.salary-input-histogram {
    position: absolute;
}

.curtain {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-top: 15px;
    height: 32px;
}

.curtain.left-curtain {
    left: 0;
}

.curtain.right-curtain {
    right: 0;
}

.salary-handle {
    margin-top: -4px;
}

.curtain.right-curtain .salary-handle {
    margin-left: -3px;
}

.curtain.left-curtain .salary-handle {
    float: right;
    margin-right: -3px;
}

.salary-input-histogram {
    margin-top: 15px;
}

.skills-input, .salary-input, header {
}

.profile-handle {
    width: 2rem;
    height: 2px;
    border: 1px solid black;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    margin-left: -1rem;
}

.swiper-container {
    width: 100%;
    padding-top: 0.5rem;
    margin-top: -0.5rem;
    padding-bottom: 1.5rem;
}

.course-card {
    width: 85%;
    border: none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.course-card .card-body {
    padding: 0.75rem 1.25rem;
    font-size: 0.8rem;
}

.course-card h6 {
    font-size: 0.8rem;
}

.course-card h5 {
    font-size: 1rem;
    font-weight: bold;
}

.course-card-header a {
    margin-right: .25rem;
}

.course-card label {
    font-weight: bold;
}

.course-card .price {
    font-size: 2rem;
}

.course-card .continue-toggle {
    font-weight: bold;
    display: block;
}

.course-card .text-info {
    color: rgb(94, 88, 210)!important;
}

.course-buttons .btn {
    height: 3rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
}

.course-buttons .btn-outline-info {
    color: rgb(94, 88, 210)!important;
    border-color: rgb(94, 88, 210)!important;
}

.course-buttons .btn-outline-info:active,
.course-buttons .btn-outline-info.active,
.course-buttons .btn-outline-info:hover {
    color: white!important;
    background-color: rgb(94, 88, 210)!important;
}

.course-buttons .btn-link, .course-buttons .btn-share {
    width: 3rem;
    line-height: 2.3rem;
    font-size: 1.3rem;
}

.course-buttons .btn-favourite {
    font-weight: bold;
    border-width: 2px;
}

.course-buttons .btn-favourite i {
    margin-top: 0.15rem;
    margin-right: 0.4rem;
}

.swiper-pagination {
    position: static;
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: .8rem;
    font-weight: bold;
}

.swiper-button-next, .swiper-button-prev {
    position: static;
    background: none;
    right: initial;
    left: initial;
    top: initial;
    width: auto;
    height: auto;
    margin-top: 0;
}

.swiper-button-prev::before {
    content: '<';
}

.swiper-button-next::after {
    content: '>';
}

.skill {
    padding-right: 0.25em;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 0.25em;
}

.skill-strength {
    height: .6rem;
    width: 1rem;
    display: inline-flex;
    align-items: flex-end;
}

.skill-strength span {
    display: block;
    width: 25%;
    background: rgb(94, 88, 210);
    margin-right: 1px;
}

.skill-strength span:nth-child(1) {height: 25%;}
.skill-strength span:nth-child(2) {height: 50%;}
.skill-strength span:nth-child(3) {height: 75%;}
.skill-strength span:nth-child(4) {height: 100%;}

.skill-strength.level0 span:nth-child(4), .skill-strength.level0 span:nth-child(3), .skill-strength.level0 span:nth-child(2) {opacity: 0.2;}
.skill-strength.level1 span:nth-child(4), .skill-strength.level1 span:nth-child(3) {opacity: 0.2;}
.skill-strength.level2 span:nth-child(4) {opacity: 0.2;}

footer {
    margin: auto;
    width: 40%;
    background: rgb(94, 88, 210);
    height: 3rem;
    border-radius: 1.5rem;

    position: -webkit-sticky;
    position: sticky;
    bottom: 1.5rem;
    z-index: 999;
}

footer .btn {
    background: rgb(94, 88, 210);
    color: white;
    font-size: 1.3rem;
    height: 100%;
    line-height: 100%;
}

footer .icon-background {
    color: rgb(143, 133, 221);
    display: none;
}

footer .btn-favourites-list.active .icon-overlay {
    margin-left: -35%;
}

footer .btn-favourites-list.active .fav-count,
footer .btn-favourites-list.active .icon-background {
    display: initial;
}

footer .divisor {
    background: white;
    width: 1px;
    height: 100%;
}

footer .fav-count {
    font-size: 75%;
    display: none;
}

section.sliding-panel {
    width: 100vw;
    height: 0;
    overflow: scroll;

    position: fixed;
    bottom: 0;
    z-index: 900;
    background: rgb(248, 249, 250);
    transition: height 0.5s ease;

    font-size: 0.8rem;
}

section.sliding-panel.show {
    height: 100vh;
}

section.filter-panel .group-title-label {
    font-weight: bold;
    width: 100%;
}

section.filter-panel .btn-outline-primary input {
    display: none;
}

section.filter-panel .btn-outline-primary:not(:disabled):not(.disabled),
section.filter-panel .btn-outline-primary:not(:disabled):not(.disabled):active {
    color: rgb(94, 88, 210);
    border-color: rgb(94, 88, 210);
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 1rem;
    font-size: 0.8rem;
    margin-right: 0.25rem;
}

section.filter-panel .btn-outline-primary:not(:disabled):not(.disabled).active {
    color: white;
    border-color: rgb(94, 88, 210);
    background-color: rgb(94, 88, 210);
}

section.filter-panel .input-group {
    margin-bottom: 1.5rem;
}

section.filter-panel .input-group:last-child {
    margin-bottom: 6.5rem;
}


section.favourite-panel .course-card {
    width: 100%;
    margin-bottom: 1.5rem;
}

section.favourite-panel .course-card:last-child {
    margin-bottom: 6.5rem;
}

section.favourite-panel .top-favourite-remove {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .delete-skill {
        display: none!important;
    }
}


@media (min-width: 768px) {
    .delete-skill-mobile {
        display: none!important;
    }
}
