/public/*hot-update*
/etc/database/data/*
/etc/database/mongo/*
/vendor/
/.idea/
clover.xml
/.env
!/etc/database/data/.gitkeep
!/etc/database/mongo/.gitkeep

### Node.js
logs
*.log
*.log*
.npm
.eslintcache

node_modules/
*.build.js
/dumps/
/.Rhistory
