body {
    min-height: 75rem;
    padding-top: 6rem;
}

.navbar-buttons {
    display: flex;
}

.navbar-buttons button {
    height: 3rem;
    width: 3rem;
}

.navbar-buttons button.btn-recommend {
    width: 7rem;
    white-space: normal;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

.navbar-alert button {
    margin-top: 1rem;
}

.navbar-toggler .backpackCount, .navbar-toggler .filterCount {
    display: block;
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
    color: white;
    background: red;
    border-radius: 50%;
    margin: -2rem 0 0 -0.2rem;
    position: absolute;
}

.btn-backpack img {
    width: 32px;
    margin-top: -6px;
}

.alert .btn-turnoff {
}

.backpack-dropdown {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
}

#courseBar {
    /*width: 70px;*/
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    padding: 0px!important;

    overflow-y: scroll;
    -ms-overflow-style: none;
}

#courseBar::-webkit-scrollbar {
    display: none;
}

#courseBar h2 {
    text-align: center;
}

#courseBar.active {
    margin-left: -100px;
}

.course-item {
    padding: .5rem;
    text-align: center;
}

.course-item small {

}

.filterCol {
    /*height: 100vh;*/
    /*overflow-y: scroll;*/
    /*-ms-overflow-style: none;*/
}
.filterCol::-webkit-scrollbar {
    display: none;
}

#startSearch {
    white-space: normal;
}

.tooltipToggle {
    background: url("/images/question-mark.svg");
    background-size: cover;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    opacity: 0.25;
}

.priceBadge {
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
}

.noSkillsDefined, .noVacanciesFound {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: 0.75rem !important;
    margin-right: -0.75rem !important;
    padding-top: 4rem;
}

.dashedLink {
    text-decoration: none;
    border: 0;
    border-bottom: 1px;
    border-style: dashed;
}

.dashedLink:hover, .dashedLink:active {
    text-decoration: none;
}

.addSkillButton, .addRequirementButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    color: #212529;
    border: 0.1rem dashed rgba(0, 0, 0, 0.125);
    margin: 0.5rem 0;
    background: none;
    cursor: pointer;
}

.addSkillButton:active, .addSkillButton:focus, .addRequirementButton:active, .addRequirementButton:focus {
    outline: none;
}

.addSkillButton img, .addRequirementButton img {
    width: 2.5rem;
    height: 2.5rem;
}

.addSkillButton i, .addRequirementButton i {
    font-size: 2.5rem;
    color: #0069d9;
}

.priceBadge {
    position: absolute;
    right: 1rem;
}

.addSkillsContainer span::after, .updateSkillsContainer span::after {
    content: ', ';
}

.addSkillsContainer span:last-child::after, .updateSkillsContainer span:last-child::after {
    content: '';
}

.addFormContainer {
    border: 1px solid rgba(0,0,0,.125);
    padding: 2rem!important;
}

.skillBlock {
    display: flex!important;
    justify-content: space-between!important;
    flex-direction: column;
}

.skillBlock .alert-heading {
    margin-right: 1rem;
}

.levelHeaderContainer {
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
}

.skillContainer {
    /*justify-content: space-between;*/
}

.courseLink {
    width: 76%;
    display: inline-block;
}

.skillContainer .afterLearnContainer {
    /*display: none;*/
}

.skillContainer.pathEnabled .afterLearnContainer {
    /*display: block;*/
}

#courseBar .totals, #courseBar .pathDetails {
    display: none;
}

#courseBar.pathEnabled .totals, #courseBar.pathEnabled .pathDetails {
    display: block;
}

.list-group .input-group .input-group-text {
    border-radius: 0px;
    border: none;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.list-group .input-group .input-group-prepend {
    margin-right: 0px;
}

.list-group .input-group .list-group-item {
    padding: 0px;
    overflow: hidden;
}

.modal-scrollable .modal-body {
    position: relative;
    padding: 15px;
    max-height: calc(100vh - 15rem) !important;
    overflow-y: scroll;
}

.modal .container {
    padding: 0px;
}

.modal-scrollable .modal-header .container .close {
    margin: -3rem -1rem -1rem auto;
}

.modal-scrollable .modal-dialog {
    max-width: 600px;
}

.skillList .list-group-item .custom-select, .requirementList .list-group-item .custom-select {
    display: none;
}

.skillList .list-group-item.active .custom-select, .requirementList .list-group-item.active .custom-select {
    display: block;
}

.accordion .card h4 {
    max-width: 100%;
}

.inner-card {
    border-top: 1px solid rgba(0,0,0,.125);
}

.inner-card:first-child {
    border-top: 0px!important;
}

.finish-button {
    display: none;
}

.card.current .finish-button {
    display: inline-block;
}

.card.inactive {
    border: 3px dashed rgba(0,0,0,.125);
    opacity: 0.5;
}
.card.inactive .card-header {
    color: #6c757d!important;
    border-bottom: 0px;
}

.visible-sm {
    display: block;
}

.visible-sm-flex {
    display: flex;
}

.invisible-sm, .invisible-sm-flex {
    display: none;
}

.invisible-sm.show {
    display: block;
}

.searchResults.invisible-sm .swiper-slide {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: .25rem!important;
}

.selected-title {
    white-space: pre-wrap;
    text-align: left;
    min-width: 70%;
    display: inline-block;
    padding: 0px;
}

.album .card .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

a.header, a.header:visited, a.header:hover, a.header:active {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

#filterCollapse, #backpackCollapse {
    width: 100%;
    height: 90.5vh;
    overflow-y: scroll;
}

#filterCollapse.vacancyFilter {
    height: 92vh;
}

.swiper-button-next, .swiper-button-prev {
    top: 50vh;
    position: fixed;
}

.swiper-button-next {
    right: 5px;
}

.swiper-button-prev {
    left: 5px;
}

.swiper-pagination-progressbar {
    top: 0px;
    z-index: 1999;
    height: 5px;
    width: 100%;
    position: fixed;
    left: 0;
}

@media (max-width: 768px) {
    .addVacancySkillsButton {
        font-size: .8rem;
    }

    .backpack-filter-alert {
        position: fixed;
        z-index: 100;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .visible-sm, .visible-sm-flex {
        display: none!important;
    }

    .invisible-sm {
        display: block!important;
    }

    .invisible-sm-flex {
        display: flex!important;
    }

    .selected-title {
        max-width: 90%;
    }
}
