img.load-progress {
    margin: auto;
}

.bg-light {
    background-color: rgb(238, 239, 240)!important;
}

.irs--round .irs-bar {
    top: 33px;
    height: 9px;
}

.irs--round .irs-grid-pol, .irs--round .irs-line {
    background: rgba(0,0,0,0.4);
}

.irs--round .irs-grid-text {
    color: rgba(0,0,0,0.4);
}

body.navbar-padding {
    min-height: 75rem;
    padding-top: 6rem;
}

body.navbar-padding-courses {
    padding-top: 9.5rem;
}

.navbar-courses {
    flex-direction: column;
    align-items: stretch;
}

.navbar-courses .container {
    flex-direction: column;
}

.navbar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.aim-wrapper {
    margin-bottom: 0.5rem;
    width: 100%;
}

.navbar-buttons {
    display: flex;
    position: absolute;
    right: 1em;
}

.navbar-buttons button {
    position: relative;
}

.navbar-buttons button.btn-recommend {
    width: 7rem;
    white-space: normal;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

.navbar-alert button {
    margin-top: 1rem;
}

.navbar-buttons .btn {
    font-size: 75%;
    padding: .375em;
}

.title-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-backpack img {
    width: 32px;
    margin-top: -6px;
}

.btn-outline-secondary.active {
    background: #007bff;
    color: white;
}

.backpack-icon {
    background: url('/assets/images/backpack.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
}

.active .backpack-icon {
    background: url('/assets/images/backpack-white.svg');
}

.badges {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resumeSkill {
    border: 2px dashed #6c757d;
    display: flex;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #6c757d;
    margin-bottom: .4em;
    font-weight: 500;
    overflow: hidden;
}

.resumeSkill .fas {
    flex-grow: 1;
    margin-left: .2em;
    cursor: pointer;
}

.resumeSkill:hover .fas {
    display: inline-block;
}

.resumeSkill span {
    flex-grow: 100;
}

.resumeSkill.complete {
    background: #28a745;
    color: white;
    border: 2px solid #28a745;
}

.resumeSkill.started {
    background: rgba(40, 167, 69, 0.2);
    border: 2px solid #28a745;
}

.resumeSkill.add {
    text-align: center;
    color: white;
    background: #007bff;
    border: 2px solid #007bff;
    justify-content: center;
    display: block;
    width: 100%;
}

.editable-text {
    border-bottom: 1px dashed #000;
    cursor: pointer;
}

.editable-text::after {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f303";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: .4em;
    font-size: 90%;
}

.editable-wrapper {
    display: flex;
    align-items: flex-end;
}

.editable-wrapper input,  .editable-wrapper select, .editable-wrapper button {
    display: none;
}

.editable-wrapper.editing .editable-text {
    display: none;
}

.editable-wrapper.editing input, .editable-wrapper.editing select, .editable-wrapper.editing button {
    display: inline;
}

.collapse-toggle, .collapse-toggle:hover, .collapse-toggle:active {
    color: black;
}

.collapse-toggle::after {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f106";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: .4em;
    font-size: 90%;
}

.collapse-toggle.collapsed::after {
    content: "\f107";
}

.count-badges {
    float: right;
}

.add-to-backpack .fas {
    font-size: 145%;
    margin-right: 0.25em;
}

.progress {
    background: transparent;
    height: 9px;
}

.progress-label {
    display: block;
    background: #dc3545!important;
    padding: 3px 5px;
    border-radius: 4px;
    margin-left: -2rem;
    width: 4rem;
    left: 0%;
    bottom: -2.2rem;
    position: absolute;
}

.progress-label:after {
    position: absolute;
    display: block;
    content: "";
    top: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-bottom-color: #dc3545;
}

.alert .btn-turnoff {
}

.backpack-dropdown {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
}

#courseBar {
    /*width: 70px;*/
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    padding: 0px!important;

    overflow-y: scroll;
    -ms-overflow-style: none;
}

#courseBar::-webkit-scrollbar {
    display: none;
}

#courseBar h2 {
    text-align: center;
}

#courseBar.active {
    margin-left: -100px;
}

.course-item {
    padding: .5rem;
    text-align: center;
}

.course-item small {

}

.filterCol {
    /*height: 100vh;*/
    /*overflow-y: scroll;*/
    /*-ms-overflow-style: none;*/
}
.filterCol::-webkit-scrollbar {
    display: none;
}

#startSearch {
    white-space: normal;
}

.tooltipToggle {
    background: url("/images/question-mark.svg");
    background-size: cover;
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    opacity: 0.25;
}

.priceBadge {
    font-size: 1.2rem;
}

.noSkillsDefined, .noVacanciesFound {

}

.dashedLink {
    text-decoration: none;
    border: 0;
    border-bottom: 1px;
    border-style: dashed;
}

.dashedLink:hover, .dashedLink:active {
    text-decoration: none;
}

.addSkillButton, .addRequirementButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    color: #212529;
    border: 0.1rem dashed rgba(0, 0, 0, 0.125);
    margin: 0.5rem 0;
    background: none;
    cursor: pointer;
}

.addSkillButton:active, .addSkillButton:focus, .addRequirementButton:active, .addRequirementButton:focus {
    outline: none;
}

.addSkillButton img, .addRequirementButton img {
    width: 2.5rem;
    height: 2.5rem;
}

.addSkillButton i, .addRequirementButton i {
    font-size: 2.5rem;
    color: #0069d9;
}

.addSkillsContainer span::after, .updateSkillsContainer span::after {
    content: ', ';
}

.addSkillsContainer span:last-child::after, .updateSkillsContainer span:last-child::after {
    content: '';
}

.addFormContainer {
    border: 1px solid rgba(0,0,0,.125);
    padding: 2rem!important;
}

.skillBlock {
    display: flex!important;
    justify-content: space-between!important;
    flex-direction: column;
}

.skillBlock .alert-heading {
    margin-right: 1rem;
}

.levelHeaderContainer {
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
}

.skillContainer {
    /*justify-content: space-between;*/
}

.courseLink {
    width: 76%;
    display: inline-block;
}

.skillContainer .afterLearnContainer {
    /*display: none;*/
}

.skillContainer.pathEnabled .afterLearnContainer {
    /*display: block;*/
}

#courseBar .totals, #courseBar .pathDetails {
    display: none;
}

#courseBar.pathEnabled .totals, #courseBar.pathEnabled .pathDetails {
    display: block;
}

.list-group .input-group .input-group-text {
    border-radius: 0px;
    border: none;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.list-group .input-group .input-group-prepend {
    margin-right: 0px;
}

.list-group .input-group .list-group-item {
    padding: 0px;
    overflow: hidden;
}

.modal-scrollable .modal-body {
    position: relative;
    padding: 15px;
    max-height: calc(100vh - 15rem) !important;
    overflow-y: scroll;
}

.modal .container {
    padding: 0px;
}

.modal-scrollable .modal-header .container .close {
    margin: -3rem -1rem -1rem auto;
}

.modal-scrollable .modal-dialog {
    max-width: 600px;
}

.skillList .list-group-item .custom-select, .requirementList .list-group-item .custom-select {
    display: none;
}

.skillList .list-group-item.active .custom-select, .requirementList .list-group-item.active .custom-select {
    display: block;
}

.accordion .card h4 {
    max-width: 100%;
}

.inner-card {
    border-top: 1px solid rgba(0,0,0,.125);
}

.inner-card:first-child {
    border-top: 0px!important;
}

.finish-button {
    display: none;
}

.card.current .finish-button {
    display: inline-block;
}

.card.inactive {
    border: 3px dashed rgba(0,0,0,.125);
    opacity: 0.5;
}
.card.inactive .card-header {
    color: #6c757d!important;
    border-bottom: 0px;
}

.visible-sm {
    display: block;
}

.visible-sm-flex {
    display: flex;
}

.invisible-sm, .invisible-sm-flex {
    display: none;
}

.invisible-sm.show {
    display: block;
}

.searchResults.invisible-sm .swiper-slide {
    margin-bottom: .5rem!important;
}

.selected-title {
    white-space: pre-wrap;
    text-align: left;
    min-width: 70%;
    display: inline-block;
    padding: 0px;
}

.album .card .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

a.header, a.header:visited, a.header:hover, a.header:active {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

#filterCollapse, #backpackCollapse {
    width: 100%;
    height: 90.5vh;
    overflow-y: scroll;
}

#filterCollapse.vacancyFilter {
    height: 92vh;
}

.swiper-button-next, .swiper-button-prev {
    width: 35px;
    height: 31px;
}

.swiper-button-next {
    right: 5px;
    background: url('/assets/images/chevron-right-small.png') no-repeat;
    background-position-x: 10px;
    z-index: 999;
}

.swiper-button-prev {
    left: 5px;
    background: url('/assets/images/chevron-left-small.png') no-repeat;
    background-position-x: 10px;
    z-index: 999;
}

.swiper-pagination-progressbar {
    top: 0px;
    z-index: 1999;
    height: 5px;
    width: 100%;
    position: fixed;
    left: 0;
}


.bullet-fraction-pagination {
    position: fixed;
    bottom: 10px;
    width: 190px;
    left: 50%;
    margin-left: -95px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    padding: 10px;
    border-radius: 0.25em;
}

.bullet-fraction-pagination .swiper-pagination {
    position: static;
}

.fraction-bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
    margin: auto;
}

.fraction-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    opacity: 0.5;
}

.fraction-bullet.active {
    opacity: 1;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
}

.btn-aim {
    animation: progressFill 6s -.1s ease-in-out forwards;
    transition: all 0.3s ease 0s;
}

.btn-aim.btn-in-progress {
    color: #fff;
    background: linear-gradient(to right, rgba(0, 123, 255, 1) 1%, rgba(0, 123, 255, 0.5) 1%);
    background-size: 0% 100%;
    background-position: 0% 100%;
    border-color: #007bff;
}

.skill {
    padding: 0.25em 0.5em;
    white-space: nowrap;
    border: 1px solid #ced4da;
    display: inline-block;
    margin-bottom: 0.25em;
    border-radius: 1em;
}

.skill-strength {
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: flex-end;
}

.skill-strength span {
    display: block;
    width: 25%;
    background: blue;
    margin-right: 1px;
}

.skill-strength span:nth-child(1) {height: 25%;}
.skill-strength span:nth-child(2) {height: 50%;}
.skill-strength span:nth-child(3) {height: 75%;}
.skill-strength span:nth-child(4) {height: 100%;}

.skill-strength.level0 span:nth-child(4), .skill-strength.level0 span:nth-child(3), .skill-strength.level0 span:nth-child(2) {opacity: 0.2;}
.skill-strength.level1 span:nth-child(4), .skill-strength.level1 span:nth-child(3) {opacity: 0.2;}
.skill-strength.level2 span:nth-child(4) {opacity: 0.2;}

@media (max-width: 768px) {
    .addVacancySkillsButton {
    }

    .backpack-filter-alert {
        position: fixed;
        z-index: 100;
        margin-right: 15px;
    }

    h5 .course-title {
        max-width: 66%;
    }
}

@media (min-width: 768px) {
    .resumeSkill .fas {
        display: none;
    }

    .visible-sm, .visible-sm-flex {
        display: none!important;
    }

    .invisible-sm {
        display: block!important;
    }

    .invisible-sm-flex {
        display: flex!important;
    }

    .selected-title {
        max-width: 90%;
    }
}

@keyframes progressFill {
    from { background-position: right bottom;}
    to   { background-position: left bottom;}
}