<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Добавление материала</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css">
    <link rel="stylesheet" href="/assets/design/base.css" type="text/css">
    <link rel="stylesheet" href="/assets/design/desktop-override.css" type="text/css">
    <link rel="stylesheet" href="/assets/styles/add_edu_item.css">
</head>
<body>

<main id="app">
    <div class="container">
        <section class="logo mb-4">
            <a href="/"><img src="/assets/images/logo.png" alt="Жажда знаний"></a>
        </section>

        <h1>Добавление материала</h1>

        <ul class="nav nav-tabs justify-content-center mb-4">
            <li v-for="tab in tabs" class="nav-item">
                <a class="nav-link" :class="{'active': tab.code === currentTabCode}" href="#" @click="currentTabCode = tab.code">{{tab.title}}</a>
            </li>
        </ul>

        <div :class="{'view-on-mobile': isMobile, 'view-on-desktop': isDesktop}">
            <course-form v-show="currentTabCode === 'course'" :course="course" :enums="enums.course" :skills="allSkills" :mobile="isMobile"></course-form>
        </div>
    </div>
</main>

<script type="text/x-template" id="course-form-template">
    <form>
        <div class="form-group">
            <label>Название курса</label>
            <input type="text" class="form-control" v-model="course.title">
        </div>
        <div class="form-group">
            <label>Ссылка на курс</label>
            <input type="text" class="form-control" v-model="course.url">
        </div>
        <div class="form-group">
            <label>Партнерская ссылка на курс</label>
            <input type="text" class="form-control" v-model="course.partnerUrl">
            <small class="form-text text-muted">
                CPA, реферальная ссылка, "приведи друга" и пр.
            </small>
        </div>
        <div class="form-group">
            <label>Платформа</label>
            <input type="text" class="form-control" v-model="course.platform">
            <small class="form-text text-muted">
                Автор курса
            </small>
        </div>
        <div class="form-group">
            <label>Форма</label>
            <check-input v-model="course.form" :items-enum="enums.forms"></check-input>
        </div>
        <div class="form-group" v-show="needsCity">
            <label>Город</label>
            <input type="text" class="form-control" v-model="course.city">
        </div>
        <div class="form-group">
            <label>Формат</label>
            <check-input v-model="course.format" :items-enum="enums.formats"></check-input>
        </div>
        <div class="form-group">
            <label>Для кого</label>
            <check-input v-model="course.audience" :items-enum="enums.audience"></check-input>
        </div>
        <div class="form-group">
            <label>Сертификат</label>
            <check-input v-model="course.certificate" :items-enum="enums.certificates"></check-input>
        </div>
        <div class="form-group">
            <label>Стоимость</label>
            <div class="form-row">
                <div class="col-sm-4">
                    <input type="number" class="form-control" v-model.number="course.price">
                </div>
                <div class="col-sm-3">
                    <units-select v-model="course.priceType" :items-enum="enums.priceTypes"></units-select>
                </div>
            </div>
            <small class="form-text text-muted">
                0, если курс бесплатный
            </small>
        </div>
        <div class="form-group">
            <label>Время занятий</label>
            <check-input v-model="course.time" :items-enum="enums.times"></check-input>
        </div>
        <div class="form-group">
            <label>Процесс</label>
            <div class="check-pills-list">
                <div class="form-check form-check-inline">
                    <label class="btn btn-outline-primary btn-filter-apply" :class="{'active': course.hasPractice}">
                        Есть практика
                        <input type="checkbox" class="form-check-input" v-model="course.hasPractice">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="btn btn-outline-primary btn-filter-apply" :class="{'active': course.hasTeacher}">
                        Есть преподаватель
                        <input type="checkbox" class="form-check-input" v-model="course.hasTeacher">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="btn btn-outline-primary btn-filter-apply" :class="{'active': course.forKids}">
                        Подходит детям
                        <input type="checkbox" class="form-check-input" v-model="course.forKids">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-6">
                    <label>Продолжительность</label>
                </div>
                <div class="col-sm-6">
                    <label>Нагрузка</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2">
                    <input type="number" class="form-control" v-model.number="course.duration">
                </div>
                <div class="col-sm-4">
                    <units-select v-model="course.durationUnits" :items-enum="enums.durationUnits"></units-select>
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" v-model.number="course.load">
                </div>
                <div class="col-sm-4">
                    <units-select v-model="course.loadUnits" :items-enum="enums.loadUnits"></units-select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea class="form-control" rows="3" v-model="course.description"></textarea>
        </div>
        <div class="form-row mb-4">
            <div class="col-sm">
                <div class="form-group">
                    <label>Приобретаемые навыки</label>
                    <div>
                        <skill-input v-model="course.skills" :skills="skills"></skill-input>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label>Требования к знаниям</label>
                    <div>
                        <skill-input v-model="course.requirements" :skills="skills"></skill-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <label class="large">Предварительный просмотр</label>
            <course-card :course="course" :enums="enums" :mobile="mobile"></course-card>
        </div>

        <div class="form-group course-buttons">
            <button type="button" class="btn btn-outline-info btn-link btn-block" @click="save">Сохранить курс</button>
        </div>
    </form>
</script>

<script type="text/x-template" id="skill-input-template">
    <div class="skill-input">
        <autocomplete ref="autocomplete" :search="searchSkill" @submit="addSkill" placeholder="Добавить навык"></autocomplete>
        <div class="skills-list mt-2">
            <label v-for="skill in allSkills" class="btn btn-outline-primary btn-skill-toggle skill" :class="{'active': isSelected(skill)}">
                {{skill}}
                <input type="checkbox" v-model="selectedSkills" :value="skill">
            </label>
        </div>
    </div>
</script>

<script type="text/x-template" id="check-input-template">
    <div class="check-pills-list">
        <div v-for="item in itemsEnum" class="form-check form-check-inline">
            <label class="btn btn-outline-primary btn-filter-apply" :class="{'active': isSelected(item.code)}">
                {{item.title}}
                <input type="checkbox" class="form-check-input" v-model="selectedItems" :value="item.code">
            </label>
        </div>
    </div>
</script>

<script type="text/x-template" id="units-select-template">
    <div class="units-control-container">
        <span class="select-arrow fa fa-sort"></span>
        <select class="form-control" :value="value" @change="$emit('input', $event.target.value)">
            <option v-for="item in itemsEnum" :value="item.code">{{item.title}}</option>
        </select>
    </div>
</script>

<script type="text/x-template" id="skill-list-template">
    <div class="skill-list">
        <span class="skill" v-for="skill in skills">
            {{skill.name}}
            <span class="skill-strength" :class="['level'+skill.level]">
                <span></span><span></span><span></span><span></span>
            </span>
        </span>
    </div>
</script>


<script type="text/x-template" id="course-card-template">

    <div class="card course-card" :class="{'take-a-look': hasPartnerUrl, 'swiper-slide': mobile}">
        <div class="card-body">
            <div v-if="mobile" class="d-flex flex-row align-items-center course-card-header">
                <span class="badge badge-course-info mr-2">Курс</span>
                <h6 class="text-muted flex-fill mb-0" v-if="course.platform">от <a :href="redirectUrl">{{course.platform}}</a></h6>
                <a class="top-favourite-add" @click="toggleFavourite">
                    <i :class="{'fas': isFavourited, 'far': !isFavourited}" class="fa-bookmark"></i>
                </a>
            </div>
            <div v-else class="d-flex flex-row justify-content-between align-items-start">
                <span class="badge badge-course-info">Курс</span>
                <div class="d-flex flex-row justify-content-end course-card-header">
                    <h6 class="text-muted" v-if="course.platform">от <a :href="redirectUrl">{{course.platform}}</a></h6>
                    <a class="top-favourite-add" @click="toggleFavourite">
                        <i :class="{'fas': isFavourited, 'far': !isFavourited}" class="fa-bookmark"></i>
                    </a>
                </div>
            </div>

            <h5>{{course.title || ''}}</h5>

            <p class="mt-0 mb-0 price" v-if="mobile"><span v-html="humanPrice"></span></p>

            <p class="mt-1 mb-0" v-if="originalDuration && (originalDuration != humanDuration)">{{originalDuration}} &asymp; {{humanDuration}}</p>
            <p class="mt-1 mb-0" v-else-if="originalDuration">{{originalDuration}}</p>
            <p :class="{'mt-0': originalDuration, 'mt-1': !originalDuration}" v-if="originalLoad">{{originalLoad}}</p>
            <p class="mt-1 mb-0 text-info" v-if="originalFormAndTime">
                {{originalFormAndTime}}
            </p>
            <p class="text-info" :class="{'mt-1': !originalFormAndTime}">
                {{attributesLine.join('&nbsp;&bull;&nbsp;')}}
            </p>

            <div v-if="allSkills">
                <div v-if="filteredSkills">
                    <label class="mt-1 mb-0">По окончании будете уметь</label>
                    <p>
                        <skill-list :skills="filteredSkills"></skill-list>

                        <span v-if="additionalSkills">
                            <a class="continue-toggle" v-if="additionalSkillsShown" @click="toggleAdditionalSkills">Показать все</a>
                            <a class="continue-toggle" v-else @click="toggleAdditionalSkills">Спрятать</a>
                            <span class="continue" v-if="additionalSkillsShown">
                                <skill-list :skills="additionalSkills"></skill-list>
                            </span>
                        </span>
                    </p>
                </div>
                <div v-else>
                    <label class="mt-1 mb-0">По окончании будете уметь</label>
                    <p>
                        <skill-list :skills="allSkills"></skill-list>
                    </p>
                </div>
            </div>

            <div v-if="allRequirements">
                <label class="mt-1 mb-0">Нужно знать</label>
                <p>
                    <skill-list :skills="allRequirements"></skill-list>
                </p>
            </div>

            <p v-if="splitDescription.visible">
                {{splitDescription.visible}}
                <span v-if="splitDescription.hidden">
                    <a href="javascript:0;" class="continue-toggle d-flex justify-content-end flex-column" @click="toggleHiddenDescription" v-if="!hiddenDescriptionShown">
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <span class="continue" v-if="hiddenDescriptionShown">{{splitDescription.hidden}}</span>
                </span>
            </p>
            <a :href="pageUrl" class="details-link" v-if="splitDescription.visible">Подробнее на странице курса</a>

            <div class="mt-4" :class="{'row': !mobile}">
                <div class="col price-duration-data" v-if="!mobile">
                    <p class="mt-0 mb-0 price"><span v-html="humanPrice"></span></p>
                </div>
                <div :class="{'course-buttons flex-fill d-flex flex-row mt-0 p-0': mobile, 'col course-buttons d-flex flex-row mt-1': !mobile}">
                    <a v-if="mobile" :href="redirectUrl" class="btn btn-outline-info flex-fill d-flex justify-content-center btn-link mr-2">
                        Записаться
                    </a>
                    <button class="btn btn-outline-info d-flex flex-row btn-favourite mr-2"
                            type="button"
                            :class="{'active': isFavourited}"
                            @click="toggleFavourite"
                    >
                        <i :class="{'fas fa-check': isFavourited, 'far fa-bookmark': !isFavourited}"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-feedback mr-2">
                        <i class="far fa-comment"></i>
                    </button>
                    <button type="button" class="btn btn-outline-info btn-share mr-2">
                        <i class="fas fa-share-alt"></i>
                        <ul class="share-menu dropdown-menu">
                            <li class="dropdown-item"><a data-social="vkontakte">Вконтакте</a></li>
                            <li class="dropdown-item"><a data-social="facebook">Facebook</a></li>
                            <li class="dropdown-item"><a data-social="twitter">Twitter</a></li>
                            <li class="dropdown-item"><a data-social="whatsapp">WhatsApp</a></li>
                            <li class="dropdown-item"><a data-social="telegram">Telegram</a></li>
                        </ul>
                    </button>
                    <a v-if="!mobile" :href="redirectUrl" class="btn btn-outline-info flex-fill btn-link mr-2">
                        Записаться
                    </a>
                </div>
            </div>
        </div>
    </div>

</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://unpkg.com/@trevoreyre/autocomplete-vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/assets/js/vue/add_edu_item.js"></script>
</body>
</html>