@charset "utf-8";
@import "constants";
@import "fonts";
@import "cs-select.css";

::-webkit-input-placeholder {color: $text-color;}
::-moz-placeholder          {color: $text-color;}
:-moz-placeholder           {color: $text-color;}
:-ms-input-placeholder      {color: $text-color;}

body {
  font: normal normal $font-size $font-family;
  line-height: 120%;
  color: $text-color;
}

a {
  color: $main-color;
}

.main-content {
  flex: 1 0 auto;
  background: #fff url(../images/background.png) no-repeat 0 0;
  background-size: cover;
}

.logo {
  margin: 0;
}

.choose-profession {
  font: normal 300 1.500em/150% $font-family; // font-size: 24px;
  margin: 0;
  padding-top: 15%;

  .cs-select {
    line-height: 100%;
    z-index: unset;
    .cs-placeholder {
      z-index: unset;
      color: $main-color;
      line-height: 100%;
      border-bottom: 1px dashed $main-color;
    }
    .cs-options {
      z-index: 1;
      background: #fff;
      border-radius: 0 0 8px 8px;
      border: 1px solid $main-color;
      border-top: none;
    }
    .cs-selected {
      color: $main-color;
    }
  }
  .find {
    display: block;
    color: #fff;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: 100%;
    text-align: center;
    border: solid 2px $main-color;
    background-color: $main-color;
    border-radius: 35px;
    padding: 0.417em 0.833em;
    margin: 5% 0 1%;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .find.disabled, .find[disabled="disabled"] {
    border: solid 2px #aaa;
    background-color: #aaa;
  }

  .list__ul {
    font-size: 0.8em;
    line-height: 1.5em;
    z-index: 60;
  }
}

.select-box {
  display: inline-block;
  line-height: 100%;
}

footer {
  flex-shrink: 0;
  font-size: 0.875em;
  .footer-inner {
    border-top: 1px solid #f8f9fa;
    padding-top: 7%;
  }
  .footer-title {
    font-weight: bold;
    margin-bottom: 2%;
  }
  .socials-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    a {
      margin: 0 4%;
    }
  }
}

.backdrop {
  opacity: 0.37;
  background-color: #333333;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
}

@media (max-width: 576px) {
  .logo {
    img {
      margin: auto;
      width: 90%;
      margin-top: 0;
    }
  }

  .find {
    font-size: 0.7em;
  }
}

/* @media */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .main-content {
    background-size: auto;
  }
  .choose-profession {
    font-size: 1.875em; // font-size: 30px;
    padding-top: 5%;

    .list__ul {
      font-size: 0.6em;
      line-height: 1.5em;
    }
  }
  footer .socials-wrap {
    margin-bottom: 3%;
    a {
      margin: 0 2%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-content {
    background-position: 50% 0;
  }
  .choose-profession {
    font-size: 2.250em; // font-size: 36px;

    .list__ul {
      font-size: 0.7em;
      line-height: 1.6em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .choose-profession {
    font-size: 2.625em; // font-size: 42px;
    .list__ul {
      font-size: 0.7em;
      line-height: 1.6em;
    }
  }
  .logo, .choose-profession {
    margin-left: 7%;
  }
  footer .footer-inner {
    padding-top: 4%;
  }
  footer .socials-wrap {
    margin-bottom: 5%;
    a {
      margin: 0 3%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .choose-profession {
    font-size: 3.000em; // font-size: 48px;
    .list__ul {
      font-size: 0.7em;
      line-height: 1.7em;
    }
  }
}

/* STYLED SELECT */
.transition {
  transition: all .4s ease-in-out;
}

.list {
  display: inline-block;
  position: relative;
  ul {
    text-align: left;
    position: absolute;
    padding: 0 20px;
    top: 1.3em;
    min-width: 26em;
    left: -20px;
    display: none;
    z-index: 1;
    background: #fff;
    border-radius: 8px;
    border: 1px solid $main-color;
    .active {
      display: block;
    }

  }
  li {
    list-style:none;
    &:first-child a {
      color: $main-color;
    }
  }
  a {
    transition: all .4s;
    color: $main-color;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 0;
      left: 0;
      background: lighten($main-color, 20%);
      bottom: 0;
      transition: all .4s ease-out;
    }
    &:hover {
      cursor: pointer;
      color: lighten($main-color, 20%);
      text-decoration: none;
      &:after {
        width: 100%;
      }
    }
  }
}

.placeholder {
  color: $main-color;
  border-bottom: 2px dashed;
  cursor: pointer;
  &:hover {
    color: darken($main-color, 10%);
  }
}
/* /STYLED SELECT */