/* This file must have an underscore at the beginning for it to be imported */
html, body {
  position: relative;
  height: 100% !important;
  min-height: 100%; }

/* Main colors */
/* Fonts */
/* Header */
/* Retina */
.element::after {
  display: block;
  content: "";
  clear: both; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("../fonts/Gilroy ExtraBold"), local("../fonts/Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("../fonts/Gilroy Heavy"), local("../fonts/Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: local("../fonts/Gilroy Light Italic"), local("../fonts/Gilroy-LightItalic"), url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ThinItalic.eot");
  src: local("../fonts/Gilroy Thin Italic"), local("../fonts/Gilroy-ThinItalic"), url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-BlackItalic.eot");
  src: local("../fonts/Gilroy Black Italic"), local("../fonts/Gilroy-BlackItalic"), url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: local("../fonts/Gilroy Bold Italic"), local("../fonts/Gilroy-BoldItalic"), url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy SemiBold"), local("../fonts/Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: local("../fonts/Gilroy UltraLight Italic"), local("../fonts/Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBoldItalic.eot");
  src: local("../fonts/Gilroy SemiBold Italic"), local("../fonts/Gilroy-SemiBoldItalic"), url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("../fonts/Gilroy Light"), local("../fonts/Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("../fonts/Gilroy Medium Italic"), local("../fonts/Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBoldItalic.eot");
  src: local("../fonts/Gilroy ExtraBold Italic"), local("../fonts/Gilroy-ExtraBoldItalic"), url("../fonts/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("../fonts/Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-HeavyItalic.eot");
  src: local("../fonts/Gilroy Heavy Italic"), local("../fonts/Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy Medium"), local("../fonts/Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("../fonts/Gilroy Regular Italic"), local("../fonts/Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("../fonts/Gilroy UltraLight"), local("../fonts/Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("../fonts/Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("../fonts/Gilroy Thin"), local("../fonts/Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Black.eot");
  src: local("../fonts/Gilroy Black"), local("../fonts/Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
::-webkit-input-placeholder {
  color: #333333; }

::-moz-placeholder {
  color: #333333; }

:-moz-placeholder {
  color: #333333; }

:-ms-input-placeholder {
  color: #333333; }

body {
  font: normal normal 16px "Gilroy", Tahoma, Verdana, Segoe, sans-serif;
  line-height: 120%;
  color: #333333; }

.main-content {
  flex: 1 0 auto;
  background: #fff url(../images/background.png) no-repeat 0 0; }

.logo {
  margin: 5% 0; }

.choose-profession {
  font: normal 300 1.5em/150% "Gilroy", Tahoma, Verdana, Segoe, sans-serif;
  margin: 0;
  padding-top: 15%; }
  .choose-profession span {
    color: #6354d2;
    display: inline-block;
    border-bottom: 1px dashed #6354d2; }
  .choose-profession .find {
    display: block;
    color: #fff;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 0.06em;
    line-height: 100%;
    text-align: center;
    border: solid 2px #6354d2;
    background-color: #6354d2;
    border-radius: 35px;
    padding: 0.417em 0.833em;
    margin: 5% 0 1%;
    cursor: pointer; }
    .choose-profession .find:focus {
      outline: none; }

footer {
  flex-shrink: 0;
  font-size: 0.875em; }
  footer .footer-inner {
    border-top: 1px solid #f8f9fa;
    padding-top: 7%; }
  footer .footer-title {
    font-weight: bold;
    margin-bottom: 2%; }
  footer .socials-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 5%; }
    footer .socials-wrap a {
      margin: 0 4%; }

/* @media */
@media (min-width: 576px) {
  .choose-profession {
    font-size: 1.875em;
    padding-top: 5%; }

  footer .socials-wrap {
    margin-bottom: 3%; }
    footer .socials-wrap a {
      margin: 0 2%; } }
@media (min-width: 768px) {
  .main-content {
    background-position: 50% 0; }

  .choose-profession {
    font-size: 2.250em; } }
@media (min-width: 992px) {
  .choose-profession {
    font-size: 2.625em; }

  .logo, .choose-profession {
    margin-left: 7%; }

  footer .footer-inner {
    padding-top: 4%; }

  footer .socials-wrap {
    margin-bottom: 5%; }
    footer .socials-wrap a {
      margin: 0 3%; } }
@media (min-width: 1200px) {
  .choose-profession {
    font-size: 3.000em; } }

/*# sourceMappingURL=main.css.map */
